.logo-img {
  width: 50px;
  border-radius: 50%;
}

.header {
  top: 0;
  left: 0;
  z-index: 4;
  position: sticky;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgb(0 0 0 / 5%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  background: black;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.light {
  width: 40px;
  height: 34px;
}

.dark {
  width: 33px;
  height: 30px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navbar {
    flex-direction: row !important;
  }

  .nav-menu.active {
    left: 0;
    padding: 20rem 0px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
